/*start Global rules */
body{
  height: 4000px;
}
.container{
  width: 1170px;
  margin: auto;
}
/*End Global rules */

/* Start Header */
.header .slider{
  background-image: url('imgs/pexels-photo-251225.jpeg');
  background-size: cover;
  background-color: #FFF;
  height: 600px;
}
.header .slider .intro {
padding-top: 200px;
/* height: 600px; */
text-align: center;
color: #fff;
}
.header .slider .intro h2{
  margin: 0 auto;
  font-size: 50px;
  width: 600px;
  border-top: 4px solid #fff;
  border-bottom: 4px solid #fff;
  padding: 5px 0;
}
.header .slider .intro button{
  background: none;
  color: #fff;
  margin-top: 30px;
  font-size: 20px;
  border:2px solid #fff;
  font-weight: bold;
  padding: 10px 30px;
}
.header .navbar{
  background-color: #252f31;
  color: #FFF;
  overflow: hidden;

}
.header .navbar h2{
  float: left;
  text-transform: uppercase;
}
.header .navbar h2 span{color:#2ecc71;}
.header .navbar ul{
  list-style: none;
  padding-left: 0;
  overflow: hidden;
  float: right;
}
.header .navbar ul li{
  float: left;
  padding: 10px;
}
.header .navbar ul li a{
  text-decoration: none;
  color: #fff;
}
.header .navbar ul li.active a,
.header .navbar ul li a:hover{
color: #30b576;
}

/* End Header */

/* start features  */
.features{
  overflow: hidden;
  padding-top: 30px;
  padding-bottom: 30px;
}
.features .feat{
  float: left;
  width: 33.33%;
  height: 150px;
}
.features h2{color: #555;}
.features p{
  line-height: 1.7;
  color: #888;
}

/* End features  */
/* start about me */
.about-me{
  background-color: #f3f3f3;
  overflow:hidden;
}
.about-me .image{
  float: left;
  width: 40%;
}
.about-me .image img{width: 100%}
.about-me .info{
  float: left;
  width: 60%;
}
.about-me .info h2{
  margin: 40px 0 20px 40px;
}
.about-me .info > p{
  margin: 0 0 10px 40px;
  line-height: 1.7;
  color: #666;
}
.about-me .info .hobbies{
  overflow: hidden;
  margin: 30px 0 0  40px;

}
.about-me .info .hobbies > div{
  float: left;
  width: 50%;
  min-height: 100px;
}
/*end about me */
/* start my skills */
.my-skills{
  padding-bottom: 30px;
  padding-top: 30px;
  overflow: hidden;
}
.my-skills .skills,
.my-skills .progress{
  width: 50%;
  float: left;
}
.my-skills .skills h2{
  margin: 25px 0 20px 40px;
  color: #555;
}
.my-skills .skills p{
  margin: 0 0 10px 40px;
  line-height: 1.7;
  color: #666;
}
.my-skills .skills button{
  background: none;
  border: 3px solid #2dcc70;
  padding:10px 30px;
  color: #2dcc70;
  margin-top: 20px;
  margin-left:40px;
}
.my-skills .progress .technique{margin-left:50px;}
.my-skills .progress .technique h3{
color: #555;
}
.my-skills .progress .technique div{
background-color: #f2f2f2;
height: 25px;
}
.my-skills .progress .technique div span{
  background-color: #2dcc70;
  height: 25px;
  display: block;
  line-height: 25px;
  text-align: right;
  color: #fff;
  font-weight: bold;
}
/* end my skills */
/* start resume */
.resume{
background-color: #f2f2f2;
text-align: center;
padding-top: 30px;
padding-bottom:30px 
}
.resume h2{
  text-transform: uppercase;
  font-weight: bold;
  color: #666;
  padding-bottom: 20px;
}
.resume p{
  line-height: 1.7;
  padding: 0 100px;
  color: #777;
}
.resume button{
  background: none;
  border: 3px solid #2dcc70;
  padding:10px 30px;
  font-weight: bold;
  color:#2dcc70;
  margin-top: 20px;
  font-size: 17px;
}
/* end resume */
/* start my educatin */
.my-education{
  padding-bottom: 30px;
  padding-top: 30px;
  overflow: hidden;
}
.my-education .main{
  width: 50%;
  float: left;
  margin-right: 5%;
}
.my-education .main h2{
  margin: 25px 0 20px 40px;
  color: #555;
}
.my-education .main p{
  margin: 0 0 10px 40px;
  line-height: 1.7;
  color: #666;
}
.my-education hr{
  overflow: hidden;
}
.my-education .exp{
  width: 45%;
  float: left;
}
.my-education .exp h3{
  margin-top: 80px;
  margin-bottom: 10px;
}
.my-education .exp span{
  display: block;
  margin-bottom: 10px;
}
.my-education .exp span:first-of-type{
  color: #999;
}
.my-education .exp span:last-of-type{
  background-color: #2dcc70;
  color: #fff;
  display: inline-block;
  padding:4px 10px;
}
.my-education .exp hr{
  margin: 20px 0;
  background-color: #999;
  height:1px;
  border: 0;
}
.my-education .exp p{
  line-height: 1.7;
  color: #777;
}
/* end my education */
/* start testimonials */
.testimonials{
  background-color: #f2f2f2;
  text-align: center;
  padding-top: 50px;
  padding-bottom:50px 
  }
  .testimonials q{
    color: #888;
    font: italic bold 18px/1.8 tahoma, arial;
  }
  .testimonials h3{
    color: #777;
    margin-bottom: 30px;
  }
  .testimonials ul{
    list-style-type: none;
    padding-left: 0;
    text-align: center;
    cursor: pointer;
  }
  .testimonials ul li{
    width: 10px;
    height: 10px;
    border: 1px solid #2dcc70;
    display: inline-block;
  }
  .testimonials ul li.active,
  .testimonials ul li:hover{
    background-color: #2dcc70;
  }
  /* end testimonaials */

  /* start portfolio */
.portfolio{
  padding-top: 50px;
  padding-bottom: 70px;
  text-align: center;
}
.portfolio h2{
  color: #777;
}
.portfolio p{
   line-height: 1.7;
   color: #666;
   margin-bottom: 30px;
}
.portfolio .our-work{
  overflow: hidden;
}
.portfolio .our-work > div{
  float:left;
  width: 33.33%;
  margin-bottom: 10px;
}
.portfolio .our-work > div img {
  width: 92%;
  margin:10px;
  padding:3px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 10px 10px 12px #ccc;
}
  /* end portfolio */
  /* start contact me */
  .contact{
    background-color: #252f31;
    overflow: hidden;
    padding-top: 50px;
    padding-bottom: 70px;
}
.contact h2{color: #fff ;margin-left: 40px;}
.contact p{color:#6a6e71; margin-left: 40px; line-height: 1.7;}
.contact p strong{
  color: #d1d6da;
}
.contact .info{
  width: 50%;
  float: left;
  margin-right: 5%;
}
.contact .form{
  width: 45%;
  float: left;
}
.contact .form label{
  display: block;
  color: #d1d6da;
  margin-bottom: 10px;
}
.contact .form input[type="text"]{
  background-color:#4b5557;
  color: #fff;
  padding:10px;
  border: 0;
  width: 80%;
  margin-bottom: 10px;
}
.contact .form textarea{
  background-color:#4b5557;
  color: #fff;
  padding:10px;
  border: 0;
  width: 80%;
  margin-bottom: 10px;
  height: 300px;
  resize: none;
}
.contact .form input[type="submit"]{
  background-color: #191e22;
  color: #fff;
  padding:10px 20px;
  border: 0;
  padding-top:10px;
}
  /* end contact me */
  /* start footer */
  .footer{
    background-color: #191e22;
    color:#6A6E71;
    padding : 20px 0;
    text-align:center;
  }
  .footer ul{
    list-style: none;
    padding-left:0 ;
    margin: 10px 0 0 ;
  }
  .footer ul li{
    display: inline-block;
  }
  .footer ul li img{
    width: 24px;
  }
  /* end footer */